<div class="card">
    <div class="card-body">
    <h1>about</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia inventore vero cum, esse ad dolorum alias autem eveniet molestiae amet debitis maxime odit voluptate quod aperiam repellat voluptatibus incidunt similique quis tenetur. Facere voluptas hic quia quos veritatis rerum qui.</p>

    </div>
</div>
