<div class="jumbotron mt-4">

    <h1 class="display-4">index</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, possimus nisi. Incidunt sequi hic inventore, quasi neque molestias delectus laborum nihil, voluptas iure reprehenderit accusamus exercitationem vitae non, obcaecati illo!</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia animi ducimus quisquam id vitae necessitatibus labore. Dolore, dolorum perspiciatis. Fugiat laudantium fugit aliquid nostrum architecto debitis hic consequuntur enim.</p>
    <a href="#" class="btn btn-primary btn-lg">FatzWeb</a>
</div>
